//#region Palette 
// Azzurri
$tr-brand-color: #27aabe;
$tr-brand-color-hover: #399bc0;

// Grigi
$tr-custom-grey: #f2f2f2;
$tr-silver-chalice: #aeaeae;
$tr-nevada: #62676c;
$tr-cape-cod: #3b3d3f;

// Neri
$tr-shark: #1a1b1b;
$tr-shark-muted: #202325;

// Special
$tr-brand-salmon: #fc8c5e;

$tr-youtube-red: #951a0c;
$tr-facebook-blue: #4562b0;
$tr-twitter-blue: #74def4;
$tr-instagram-indaco: #516faa;


//#endregion Palette 

//#region Element properties 
// Padding
$tr-py-100: 100px 0;
$tr-jumbo-padding: 310px;

// Flex
$tr-gap-30: 30px;

// Font
$tr-fs-07: .7rem;
// Letter Spacing
$tr-title-ls: 5px;
//#endregion Element properties 